/*
rem and em do NOT depend on html font-size in media queries.
Instead assume, 1rem = 1em = 16px
*/

/* 1040 px */
@media (max-width: 65em) {
  #panorama {
    width: 104rem;
  }
  .aside {
    padding: 1.6rem;
    flex-basis: 21rem;
  }
  .header {
    padding: 0 2.4rem;
  }
  .nav-list {
    gap: 2.4rem;
  }
  .header-logo {
    margin: 0.5rem 0;
  }
}

/* 880 px */
@media (max-width: 55em) {
  html {
    font-size: 56.25%;
  }

  /*
  Login
  */
  #section-action {
    flex-direction: column;
    margin: 2rem 5rem;
  }

  #section-action article:first-child {
    border-bottom: 2px solid #2f2504;
    border-right: none;
  }

  #section-action article:nth-child(2) {
    margin-top: 2rem;
  }

  .aside {
    padding-right: 1.4rem;
    flex-basis: 22rem;
  }

  .header-logo {
    height: 6rem;
  }

  .custom-date {
    flex-direction: column;
  }

  .instructions {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .modal-content {
    width: 50%;
  }
}

/* 704 px */
@media (max-width: 44em) {
  /*
  Hide aside
  */
  .container {
    position: relative;
  }

  .aside {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
    z-index: 1;
  }

  .btn-aside-menu {
    display: block;
  }

  .menu-open .aside {
    transform: translateX(0);
  }

  .modal-content {
    width: 65%;
  }
}

/* 496 px */
@media (max-width: 31em) {
  html {
    font-size: 50%;
  }

  #section-action {
    flex-direction: column;
    margin: 2rem 2rem;
  }

  #panorama {
    width: 100%;
  }

  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-container section:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #2f2504;
  }

  .custom-date {
    flex-direction: row;
  }

  .instructions {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .instructions img:first-of-type {
    grid-row: 1;
  }

  .instructions img:nth-of-type(3) {
    grid-row: 5;
  }

  .instructions article {
    margin-bottom: 10rem;
  }

  .instructions article:last-of-type {
    margin-bottom: 0;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .modal-content {
    width: 75%;
  }

  /*
  The next few will make the live hunt aside larger & easier to use
  */
  .myharvest-name,
  .myharvest-count {
    font-size: 3rem;
  }

  .myharvest-count {
    width: 5rem;
  }

  .aside {
    width: 85vw;
  }

  .myharvest-name {
    width: 75%;
  }
}

/* 432  px */
@media (max-width: 27em) {
  .header {
    flex-direction: column;
  }

  .nav-list {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    margin-bottom: 2rem;
  }

  .nav-item a {
    width: 75vw;
    text-align: center;
  }

  .modal-content {
    width: 90%;
  }
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
